- const { avatar, personal, contact, links } = SidebarData
- const { fullName, birthday, nationality, languages } = personal
- const { address1, address2, address3, phone, email, portfolio } = contact
- const { github, linkedIn, blog, facebook, instagram } = links

mixin getPersonalContent(data)
	.row
		.col-xs-4.col-print-4
			.left-label
				p #{data.title}
		.col-xs-8.col-print-8
			.right-label
				p #{data.content}

mixin getContactContent(data)
	.row
		if data.noPrint
			.col-xs-4.hidden-print
				.left-label
					p #{data.title}
			.col-xs-8.col-print-12
				.right-label
					p #{data.content}
		else if data.link
			.col-xs-4.col-print-4
				.left-label
					p #{data.title}
			.col-xs-8.col-print-12.hidden-print
				.right-label
					p
						a(href=data.link) #{data.content}
			.col-xs-8.col-print-8.visible-print-block
				.right-label
					p #{data.content}
		else
			.col-xs-4.col-print-4
				.left-label
					p #{data.title}
			.col-xs-8.col-print-8
				.right-label
					p #{data.content}

mixin getLinksContent(data)
	.row
		.margin-top-15
			.col-xs-2.col-md-2
				.icons
					i(class=data.icon, aria-hidden="true")
			.col-xs-10.col-md-10
				.links.hidden-print
					a(href=data.link, target="_blank") #{data.title}
				.links.visible-print-block #{data.content}

.left-area
	.row
		.col-xs-12.col-print-12
			.row
				.col-xs-12
					.avatar.box
						a(href="/")
							img.img-responsive.img-circle(src="img/avatar2.jpg")
				.col-xs-12
					.title.hidden-print #{avatar.description}
					.name.box
						h1 #{avatar.name}
					.title.visible-print-block
						.ph3 #{avatar.description}
		.col-xs-12.col-print-6
			.contact.box
				.row
					.col-xs-12
						h4 Personal
				.content
					+getPersonalContent(fullName)
					+getPersonalContent(birthday)
					+getPersonalContent(nationality)
					+getPersonalContent(languages)
		.col-xs-12.col-print-6
			.contact.box
				.row
					.col-xs-12
						h4 Contact
				.content
					+getContactContent(phone)
					+getContactContent(email)
		.col-xs-12.hidden-print
			.social.box
				.row
					.col-xs-12
						h4 Links
				.content
					+getLinksContent(github)
					+getLinksContent(linkedIn)
					+getLinksContent(blog)
					+getLinksContent(instagram)
